@import "tailwindcss";

* {
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;        
}

body, * {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
